AI Rader (3).json
{
  "name": "AI Rader",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        48,
        176
      ],
      "id": "41107253-817b-418d-a82e-ddb817f90576",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://github.com/trending?since=daily",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        256,
        176
      ],
      "id": "984646ac-cbac-457b-8554-6dc402bccac9",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "repo_name",
              "cssSelector": ".Box-row h2 a",
              "returnArray": true
            },
            {
              "key": "description",
              "cssSelector": ".Box-row p",
              "returnArray": true
            },
            {
              "key": "stars ",
              "cssSelector": ".Box-row .octicon-star + span",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        464,
        176
      ],
      "id": "e91b6e4e-d163-4af8-95d7-606e2dea23b4",
      "name": "HTML"
    },
    {
      "parameters": {
        "fieldToSplitOut": "repo_name",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        672,
        176
      ],
      "id": "09fd3ccd-64f9-4698-900c-5913b5f5c1c0",
      "name": "Split Out"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-opus-4-6",
          "mode": "list",
          "cachedResultName": "claude-opus-4-6"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an expert AI Tools Research Analyst. You will receive information about a trending \ntool/repository (name, description, stars, URL) scraped from GitHub Trending or other sources.\n\nYour job: research and analyze this tool deeply, then return ONLY a valid JSON object (no markdown, \nno explanation, no code fences) with this exact structure:\n\n{\n  \"tool_name\": \"\",\n  \"category\": \"\",\n  \"released_date\": \"\",\n  \"official_website\": \"\",\n  \"github_link\": \"\",\n  \"what_is_it\": \"2-3 sentence plain explanation\",\n  \"why_created\": \"the problem it solves\",\n  \"who_should_use\": \"target audience - be specific (developers/designers/marketers/students etc)\",\n  \"pricing\": \"Free / Freemium / Paid - with details\",\n  \"features\": [\"feature 1\", \"feature 2\", \"feature 3\", \"feature 4\", \"feature 5\"],\n  \"pros\": [\"pro 1\", \"pro 2\", \"pro 3\"],\n  \"cons\": [\"con 1\", \"con 2\", \"con 3\"],\n  \"learning_time\": \"e.g. 2-3 days for basics, 2 weeks for mastery\",\n  \"learning_roadmap\": [\"step 1\", \"step 2\", \"step 3\"],\n  \"alternatives\": [\"alt 1\", \"alt 2\", \"alt 3\"],\n  \"comparison\": \"one line comparing it to its closest alternative\",\n  \"example_prompt\": \"a realistic example prompt/command to use this tool\",\n  \"earning_ideas\": {\n    \"freelancing\": true or false,\n    \"saas\": true or false,\n    \"themeforest_templates\": true or false,\n    \"automation_services\": true or false,\n    \"startup_mvp\": true or false,\n    \"jobs\": true or false,\n    \"details\": \"1-2 lines on how exactly someone could monetize this\"\n  },\n  \"portfolio_project_ideas\": [\"idea 1\", \"idea 2\"],\n  \"should_i_learn_2026\": \"Yes/No/Maybe with 1 line reason\",\n  \"priority_stars\": \"1-5 (5 = must learn urgently)\",\n  \"overall_rating\": \"X/10\",\n  \"weekly_challenge_project\": {\n    \"name\": \"a mini project name using this tool\",\n    \"tools_needed\": [\"tool1\", \"tool2\"],\n    \"expected_time\": \"e.g. 4 hours\",\n    \"difficulty\": \"X/5 stars\"\n  }\n}\n\nRules:\n- If you don't have certain information, make a reasonable inference and mark it clearly \n  (e.g. \"Estimated\" or \"Not confirmed\") rather than leaving it blank.\n- Keep \"features\", \"pros\", \"cons\" arrays to 3-5 items max, short phrases.\n- Be honest and balanced in pros/cons - don't just praise the tool.\n- earning_ideas should be realistic for the Indian freelance/startup market context.\n- Output must be parseable JSON. Do not wrap in ```json``` or add any text before/after.\n\nHere is the tool data to analyze:\n{{ $json.repo_name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        1152,
        1392
      ],
      "id": "a6a1a303-e18f-41a0-9f45-1daf72b12463",
      "name": "Message a model",
      "credentials": {
        "anthropicApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  try {\n    // Handle both Gemini and Claude response structures\n    let rawText;\n    \n    if (item.json.content?.parts) {\n      // Gemini structure\n      rawText = item.json.content.parts[0].text;\n    } else if (Array.isArray(item.json.content)) {\n      // Claude structure\n      rawText = item.json.content[0].text;\n    } else {\n      throw new Error(\"Unknown response structure\");\n    }\n\n    // Remove markdown code fences if present\n    rawText = rawText.replace(/```json/g, '').replace(/```/g, '').trim();\n\n    const parsed = JSON.parse(rawText);\n    results.push({ json: parsed });\n  } catch (error) {\n    results.push({ \n      json: { \n        error: \"Parse failed\", \n        error_message: error.message,\n        raw_text: JSON.stringify(item.json)\n      } \n    });\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        416
      ],
      "id": "67178cb3-1a44-421a-b457-0f02894a0839",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "85c63d2e-843c-4906-b6f0-4db488aa2b52",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        288,
        416
      ],
      "id": "42636403-4713-4724-9769-24208ca6e0ff",
      "name": "Filter"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfunction toBulletList(arr) {\n  if (!Array.isArray(arr)) return arr || '';\n  return '<ul style=\"margin:5px 0; padding-left:20px;\">' + \n    arr.map(item => `<li style=\"margin-bottom:5px; color:#555;\">${item}</li>`).join('') + \n    '</ul>';\n}\n\nfor (const item of items) {\n  const data = item.json;\n  \n  results.push({\n    json: {\n      ...data,\n      features_html: toBulletList(data.features),\n      pros_html: toBulletList(data.pros),\n      cons_html: toBulletList(data.cons),\n      alternatives_html: toBulletList(data.alternatives),\n      learning_roadmap_html: toBulletList(data.learning_roadmap),\n      portfolio_project_ideas_html: toBulletList(data.portfolio_project_ideas),\n      tools_needed_html: Array.isArray(data.weekly_challenge_project?.tools_needed) \n        ? data.weekly_challenge_project.tools_needed.join(', ') \n        : ''\n    }\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        416
      ],
      "id": "0bbc58ae-6fd3-4202-ab1e-c2b2707b2cbe",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1HO4rkfpvaB1WDyCaer7hrTDZUbh4oU-LmHfWTsU8qvs",
          "mode": "list",
          "cachedResultName": "AI_Tools",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HO4rkfpvaB1WDyCaer7hrTDZUbh4oU-LmHfWTsU8qvs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11KliB5IRTs9RIujMAjoFjQ3TJnzf1tTGEHjtTNQrhYE/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "={{ $('Filter').item.json.tool_name }}",
              "lookupValue": "= {{ $json.tool_name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        768,
        800
      ],
      "id": "ae67722e-50d0-4849-ab53-32c89d993112",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TohNfl4Yw1Fc57lu",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "gangadevi2931@gmail.com",
        "subject": "=🚀 AI Tool of the Day: {{ $json.tool_name }}",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 650px; margin: auto; background: #f4f6f9; padding: 20px;\">   <div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); padding: 25px; border-radius: 10px 10px 0 0; text-align: center;\">     <h1 style=\"color: #fff; margin: 0; font-size: 24px;\">🚀 AI Tool of the Day</h1>   </div>    <div style=\"background: #ffffff; padding: 25px; border-radius: 0 0 10px 10px;\">     <h2 style=\"color: #333; margin-top: 0;\">{{ $json.tool_name }}</h2>     <p style=\"color: #666;\"><b>Category:</b> {{ $json.category }}</p>     <p style=\"color: #666;\"><b>Released:</b> {{ $json.released_date }}</p>     <p><a href=\"{{ $json.official_website }}\" style=\"color: #667eea;\">🌐 Official Website</a></p>      <h3 style=\"color: #444; border-bottom: 2px solid #667eea; padding-bottom: 5px;\">🤔 What is it?</h3>     <p style=\"color: #555;\">{{ $json.what_is_it }}</p>      <h3 style=\"color: #444; border-bottom: 2px solid #667eea; padding-bottom: 5px;\">🎯 Who should use it?</h3>     <p style=\"color: #555;\">{{ $json.who_should_use }}</p>      <h3 style=\"color: #444; border-bottom: 2px solid #667eea; padding-bottom: 5px;\">💰 Pricing</h3>     <p style=\"color: #555;\">{{ $json.pricing }}</p>      <h3 style=\"color: #444; border-bottom: 2px solid #667eea; padding-bottom: 5px;\">✨ Features</h3>     <p style=\"color: #555;\">{{ $json.features }}</p>      <h3 style=\"color: #444; border-bottom: 2px solid #667eea; padding-bottom: 5px;\">✅ Pros</h3>     <p style=\"color: #2e7d32;\">{{ $json.pros }}</p>      <h3 style=\"color: #444; border-bottom: 2px solid #667eea; padding-bottom: 5px;\">⚠️ Cons</h3>     <p style=\"color: #c62828;\">{{ $json.cons }}</p>      <h3 style=\"color: #444; border-bottom: 2px solid #667eea; padding-bottom: 5px;\">⏱ Learning Time</h3>     <p style=\"color: #555;\">{{ $json.learning_time }}</p>      <h3 style=\"color: #444; border-bottom: 2px solid #667eea; padding-bottom: 5px;\">🔄 Alternatives</h3>     <p style=\"color: #555;\">{{ $json.alternatives }}</p>      <h3 style=\"color: #444; border-bottom: 2px solid #667eea; padding-bottom: 5px;\">💡 Example Prompt</h3>     <p style=\"background: #f0f0f0; padding: 10px; border-radius: 5px; font-family: monospace;\">{{ $json.example_prompt }}</p>      <h3 style=\"color: #444; border-bottom: 2px solid #667eea; padding-bottom: 5px;\">💵 Earning Ideas</h3>     <p style=\"color: #555;\">{{ $json.earning_ideas.details }}</p>      <h3 style=\"color: #444; border-bottom: 2px solid #667eea; padding-bottom: 5px;\">📂 Portfolio Project Ideas</h3>     <p style=\"color: #555;\">{{ $json.portfolio_project_ideas }}</p>      <h3 style=\"color: #444; border-bottom: 2px solid #667eea; padding-bottom: 5px;\">🎓 Should I Learn in 2026?</h3>     <p style=\"color: #555;\"><b>{{ $json.should_i_learn_2026 }}</b></p>      <div style=\"text-align: center; margin-top: 20px; padding: 15px; background: #f9f9f9; border-radius: 8px;\">       <p style=\"font-size: 20px; margin: 0;\">⭐ Overall Rating: <b>{{ $json.overall_rating }}</b></p>     </div>      <hr style=\"margin: 25px 0; border: none; border-top: 1px solid #eee;\">      <div style=\"background: #fff3e0; padding: 15px; border-radius: 8px;\">       <h3 style=\"color: #e65100; margin-top: 0;\">🔥 This Week's Challenge</h3>       <p><b>Project:</b> {{ $json.weekly_challenge_project.name }}</p>       <p><b>Tools Needed:</b> {{ $json.weekly_challenge_project.tools_needed }}</p>       <p><b>Expected Time:</b> {{ $json.weekly_challenge_project.expected_time }}</p>       <p><b>Difficulty:</b> {{ $json.weekly_challenge_project.difficulty }}</p>     </div>      <p style=\"margin-top: 25px; text-align: center;\">       <a href=\"{{ $json.github_link }}\" style=\"background: #333; color: #fff; padding: 10px 20px; border-radius: 5px; text-decoration: none;\">📦 View on GitHub</a>     </p>   </div> </div>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        720,
        416
      ],
      "id": "d5453496-f8e7-4cb2-9ada-d4afa78ecea4",
      "name": "Send a message",
      "webhookId": "4d80dccb-50c9-4383-8263-b967d8f26095",
      "credentials": {
        "gmailOAuth2": {
          "id": "2y67RgIvO1C6feEk",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an expert AI Tools Research Analyst. You will receive information about a trending \ntool/repository (name, description, stars, URL) scraped from GitHub Trending or other sources.\n\nYour job: research and analyze this tool deeply, then return ONLY a valid JSON object (no markdown, \nno explanation, no code fences) with this exact structure:\n\n{\n  \"tool_name\": \"\",\n  \"category\": \"\",\n  \"released_date\": \"\",\n  \"official_website\": \"\",\n  \"github_link\": \"\",\n  \"what_is_it\": \"2-3 sentence plain explanation\",\n  \"why_created\": \"the problem it solves\",\n  \"who_should_use\": \"target audience - be specific (developers/designers/marketers/students etc)\",\n  \"pricing\": \"Free / Freemium / Paid - with details\",\n  \"features\": [\"feature 1\", \"feature 2\", \"feature 3\", \"feature 4\", \"feature 5\"],\n  \"pros\": [\"pro 1\", \"pro 2\", \"pro 3\"],\n  \"cons\": [\"con 1\", \"con 2\", \"con 3\"],\n  \"learning_time\": \"e.g. 2-3 days for basics, 2 weeks for mastery\",\n  \"learning_roadmap\": [\"step 1\", \"step 2\", \"step 3\"],\n  \"alternatives\": [\"alt 1\", \"alt 2\", \"alt 3\"],\n  \"comparison\": \"one line comparing it to its closest alternative\",\n  \"example_prompt\": \"a realistic example prompt/command to use this tool\",\n  \"earning_ideas\": {\n    \"freelancing\": true or false,\n    \"saas\": true or false,\n    \"themeforest_templates\": true or false,\n    \"automation_services\": true or false,\n    \"startup_mvp\": true or false,\n    \"jobs\": true or false,\n    \"details\": \"1-2 lines on how exactly someone could monetize this\"\n  },\n  \"portfolio_project_ideas\": [\"idea 1\", \"idea 2\"],\n  \"should_i_learn_2026\": \"Yes/No/Maybe with 1 line reason\",\n  \"priority_stars\": \"1-5 (5 = must learn urgently)\",\n  \"overall_rating\": \"X/10\",\n  \"weekly_challenge_project\": {\n    \"name\": \"a mini project name using this tool\",\n    \"tools_needed\": [\"tool1\", \"tool2\"],\n    \"expected_time\": \"e.g. 4 hours\",\n    \"difficulty\": \"X/5 stars\"\n  }\n}\n\nRules:\n- If you don't have certain information, make a reasonable inference and mark it clearly \n  (e.g. \"Estimated\" or \"Not confirmed\") rather than leaving it blank.\n- Keep \"features\", \"pros\", \"cons\" arrays to 3-5 items max, short phrases.\n- Be honest and balanced in pros/cons - don't just praise the tool.\n- earning_ideas should be realistic for the Indian freelance/startup market context.\n- Output must be parseable JSON. Do not wrap in ```json``` or add any text before/after.\n\nHere is the tool data to analyze:\n{{ $json.repo_name }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        1088,
        176
      ],
      "id": "93aeac73-ce32-4654-924c-58174b92913f",
      "name": "Message a model1",
      "credentials": {
        "googlePalmApi": {
          "id": "ypI799yBSZyRoFi9",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        880,
        176
      ],
      "id": "2482c7e1-e0f4-4e5d-918d-7878b4af1fdd",
      "name": "Limit"
    },
    {
      "parameters": {
        "content": "AI Rader",
        "height": 592,
        "width": 1408,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "73ad4b42-8e3f-49e5-a5ed-f20739896cf7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c93dbd1c-25cf-4fd6-b924-69c6cb8b7fa0",
              "leftValue": "={{ $json.tool_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        896,
        736
      ],
      "id": "a12f8cbb-727a-4ba2-92e1-0e2c90c50e75",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "65d79656-702c-4654-95bb-efd64a2eb5e7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2f721e94a360143eaa47d90c48bca5fc206648ade37624b27c38ba397dc262eb"
  },
  "nodeGroups": [],
  "id": "d3zIqDGU3VnyAI3M",
  "tags": []
}